# We'll use PostgreSQL in all environments. I'm leaving production configuration
# out since Heroku will set its own.
development:
  adapter: postgresql
  encoding: unicode
  database: mlaas_dev
  username: mlaas
  pool: 5
  timeout: 5000

test: &test
  adapter: postgresql
  encoding: unicode
  database: mlaas_test
  username: mlaas
  pool: 5
  timeout: 5000
